header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
/* Combine les filtres */
#filtre-bible:checked ~ .conteneur-evenements .item-evenement:not(.bible) { display: none; }
#filtre-etude:checked ~ .conteneur-evenements .item-evenement:not(.etude) { display: none; }
#filtre-demande-priere:checked ~ .conteneur-evenements .item-evenement:not(.demande-priere) { display: none; }

#filtre-presentiel:checked ~ .conteneur-evenements .item-evenement:not(.presentiel) { display: none; }
#filtre-visio:checked ~ .conteneur-evenements .item-evenement:not(.visio) { display: none; }
#filtre-distanciel:checked ~ .conteneur-evenements .item-evenement:not(.distanciel) { display: none; }
#filtre-non:checked ~ .conteneur-evenements .item-evenement:not(.non) { display: none; }

#filtre-janvier:checked ~ .conteneur-evenements .item-evenement:not(.janvier) { display: none; }
#filtre-fevrier:checked ~ .conteneur-evenements .item-evenement:not(.fevrier) { display: none; }
#filtre-mars:checked ~ .conteneur-evenements .item-evenement:not(.mars) { display: none; }
#filtre-avril:checked ~ .conteneur-evenements .item-evenement:not(.avril) { display: none; }
#filtre-mai:checked ~ .conteneur-evenements .item-evenement:not(.mai) { display: none; }
#filtre-juin:checked ~ .conteneur-evenements .item-evenement:not(.juin) { display: none; }

/* Changement de couleur quand sélectionner */
#filtre-bible:checked ~ div label[for="filtre-bible"],
#filtre-etude:checked ~ div label[for="filtre-etude"],
#filtre-priere:checked ~ div label[for="filtre-priere"],

#filtre-presentiel:checked ~ div label[for="filtre-presentiel"],
#filtre-visio:checked ~ div label[for="filtre-visio"],
#filtre-distanciel:checked ~ div label[for="filtre-distanciel"],
#filtre-non:checked ~ div label[for="filtre-non"],

#filtre-janvier:checked ~ div label[for="filtre-janvier"],
#filtre-fevrier:checked ~ div label[for="filtre-fevrier"],
#filtre-mars:checked ~ div label[for="filtre-mars"],
#filtre-avril:checked ~ div label[for="filtre-avril"],
#filtre-mai:checked ~ div label[for="filtre-mai"],
#filtre-juin:checked ~ div label[for="filtre-juin"] {
    color: grey;              
    font-weight: bold;         
}
#bloc-format {
    display: none;
}

#filtre-demande-priere:checked ~ div #bloc-format {
    display: block;
}
input[type="checkbox"]{
    display: none;
}.header-right{
    display: flex;
    gap: 10px;
}
/* .div-principale{
    display: flex;
    justify-content: space-between;
} */

#acceuil{
    color: black;
    text-decoration: none;
}
#suivie{
    color: black;
    text-decoration: none;
}

@media (max-width : 768px) {
    .div-principale{
        flex-direction: column;
        gap: 15px;
    }
    fieldset{
        flex: row;
        flex-wrap: wrap;
    }
    .bouton-filtre{
        flex: 1.1 calc(50% - 10px);
    }
}