header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#filtre-bible:checked ~ .conteneur-evenements .item-evenement:not(.bible) { display: none; }
#filtre-etude:checked ~ .conteneur-evenements .item-evenement:not(.etude) { display: none; }
#filtre-demande-priere:checked ~ .conteneur-evenements .item-evenement:not(.demande-priere) { display: none; }

#filtre-presentiel:checked ~ .conteneur-evenements .item-evenement:not(.presentiel) { display: none; }
#filtre-visio:checked ~ .conteneur-evenements .item-evenement:not(.visio) { display: none; }
#filtre-distanciel:checked ~ .conteneur-evenements .item-evenement:not(.distanciel) { display: none; }
#filtre-non:checked ~ .conteneur-evenements .item-evenement:not(.non) { display: none; }

#filtre-janvier:checked ~ .conteneur-evenements .item-evenement:not(.janvier) { display: none; }
#filtre-fevrier:checked ~ .conteneur-evenements .item-evenement:not(.fevrier) { display: none; }
#filtre-mars:checked ~ .conteneur-evenements .item-evenement:not(.mars) { display: none; }
#filtre-avril:checked ~ .conteneur-evenements .item-evenement:not(.avril) { display: none; }
#filtre-mai:checked ~ .conteneur-evenements .item-evenement:not(.mai) { display: none; }
#filtre-juin:checked ~ .conteneur-evenements .item-evenement:not(.juin) { display: none; }

#filtre-bible:checked ~ div label[for="filtre-bible"],
#filtre-etude:checked ~ div label[for="filtre-etude"],
#filtre-priere:checked ~ div label[for="filtre-priere"],

#filtre-presentiel:checked ~ div label[for="filtre-presentiel"],
#filtre-visio:checked ~ div label[for="filtre-visio"],
#filtre-distanciel:checked ~ div label[for="filtre-distanciel"],
#filtre-non:checked ~ div label[for="filtre-non"],

#filtre-janvier:checked ~ div label[for="filtre-janvier"],
#filtre-fevrier:checked ~ div label[for="filtre-fevrier"],
#filtre-mars:checked ~ div label[for="filtre-mars"],
#filtre-avril:checked ~ div label[for="filtre-avril"],
#filtre-mai:checked ~ div label[for="filtre-mai"],
#filtre-juin:checked ~ div label[for="filtre-juin"] {
    color: grey;              
    font-weight: bold;         
}
#bloc-format {
    display: none;
}

#filtre-demande-priere:checked ~ div #bloc-format {
    display: block;
}
input[type="checkbox"]{
    display: none;
}.header-right{
    display: flex;
    gap: 10px;
}

#acceuil{
    color: black;
    text-decoration: none;
}
#suivie{
    color: black;
    text-decoration: none;
}

@media (max-width : 768px) {
    .div-principale{
        flex-direction: column;
        gap: 15px;
    }
    fieldset{
        flex: row;
        flex-wrap: wrap;
    }
    .bouton-filtre{
        flex: 1.1 calc(50% - 10px);
    }
}
.header-left{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo{
    width: 90px;
    height: 65px;
}

#filtre-dept13:checked ~ .conteneur-evenements .item-evenement:not(.dept13),
#filtre-dept69:checked ~ .conteneur-evenements .item-evenement:not(.dept69),
#filtre-dept75:checked ~ .conteneur-evenements .item-evenement:not(.dept75),
#filtre-dept77:checked ~ .conteneur-evenements .item-evenement:not(.dept77),
#filtre-dept91:checked ~ .conteneur-evenements .item-evenement:not(.dept91),
#filtre-dept92:checked ~ .conteneur-evenements .item-evenement:not(.dept92),
#filtre-dept93:checked ~ .conteneur-evenements .item-evenement:not(.dept93),
#filtre-dept94:checked ~ .conteneur-evenements .item-evenement:not(.dept94),
#filtre-dept95:checked ~ .conteneur-evenements .item-evenement:not(.dept95),
#filtre-dept971:checked ~ .conteneur-evenements .item-evenement:not(.dept971),
#filtre-dept972:checked ~ .conteneur-evenements .item-evenement:not(.dept972),
#filtre-dept973:checked ~ .conteneur-evenements .item-evenement:not(.dept973),
#filtre-dept974:checked ~ .conteneur-evenements .item-evenement:not(.dept974),
#filtre-dept976:checked ~ .conteneur-evenements .item-evenement:not(.dept976)
{
    display:none;
}